@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ============================
   GLOBAL – elimina scroll
   ============================ */
html, body { 
  margin: 0; 
  padding: 0; 
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
}

/* ============================
   CONTENEDOR PRINCIPAL DESKTOP
   ============================ */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  
  /* Imagen izquierda */
  background-image: url("logo/gatos4.png");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;

  /* Esto evita que la imagen haga zoom extraño */
  background-attachment: local;
}

/* ============================
   CAJA FORMULARIO DERECHA
   ============================ */
.login-box {
  width: 33%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 2rem;
  background: white;
}

.login-box form {
  width: 100%;
  max-width: 380px;
}

.login-box h2 {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 1.5rem;
  color: black;
  font-size: 1.8rem;
  text-align: center;
}

/* ============================
   INPUTS
   ============================ */
.input-group {
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid purple;
  border-radius: 0.3125rem;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: orange;
  outline: none;
}

/* ============================
   BOTÓN
   ============================ */
.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: orange;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.625rem;
}

.login-button:hover {
  background-color: gray;
}

/* -------------------------------------- */
/* RESPONSIVE MÓVIL */
/* -------------------------------------- */

@media (max-width: 600px) {

  .login-container {
    display: flex;
    flex-direction: column;
    background: none;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }

  .header-imag {
    width: 100%;
    height: 20vh;
    background-image: url("logo/gatos3.png");
    background-size: cover;
    background-position: center;
  }

  .login-box {
    width: 100%;
    flex: 1;
    height: 75vh;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
  }

  .login-box h2 {
    font-size: 1.7rem;
  }

  .input-group input {
    padding: 1rem;
  }
}




