@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html, body { 
  margin: 0; 
  padding: 0; 
  width: 100%; 
  height: 100%; 
  overflow-x: hidden; 
}

/* CONTENEDOR PRINCIPAL */
.login-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  
  background-image: url("logo/gatos4.png");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: white;

  padding: 0;
}

/* CAJA DEL FORMULARIO */
.login-box {
  background-color: white;
  width: 33%;
  min-height: 100vh;
  margin-left: auto;

  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* MOVER EL FORM ARRIBA */
  justify-content: flex-start;
  padding-top: 3rem;
}

.login-box form {
  width: 100%;
  max-width: 360px; /* controla tamaño uniforme */
}

/* LOGO MÁS ARRIBA Y CENTRADO */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem; /* menos espacio */
}

.logo-container img {
  width: 140px;
}

.login-box h2 {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 1.2rem;
  color: black;
  font-size: 1.8rem;
  text-align: center;
}

/* INPUTS */
.input-group {
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: black;
  font-family: "Montserrat", sans-serif;
}

/* INPUT MISMO TAMAÑO DEL BOTÓN */
.input-group input {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid purple;
  border-radius: 0.3125rem;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: orange;
  outline: none;
}

/* BOTÓN*/
.login-button {
  width: 100%;
  padding: 0.85rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: orange;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.login-button:hover {
  background-color: gray;
}

/* -------------------------------------- */
/* RESPONSIVE MÓVIL */
/* -------------------------------------- */

@media (max-width: 600px) {

  .login-container {
    display: flex;
    flex-direction: column;
    background: none;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }

  .header-imag {
    width: 100%;
    height: 25vh;
    background-image: url("logo/gatos3.png");
    background-size: cover;
    background-position: center;
  }

  .login-box {
    width: 100%;
    flex: 1;
    height: 75vh;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
  }

  .login-box h2 {
    font-size: 1.7rem;
  }

  .input-group input {
    padding: 1rem;
  }
}

