/* BOTÓN HAMBURGUESA (ESCONDE EN DESKTOP) */
.menu-toggle {
  display: none; /* Oculto por defecto */
  font-size: 2rem; /* Tamaño del ícono hamburguesa */
  background: none; /* Sin fondo */
  border: none; /* Sin bordes */
  cursor: pointer; /* Manito al pasar el mouse */
  margin-right: 1rem; /* Espacio entre el borde derecho */
}

/* RESPONSIVE: MÓVILES */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Mostrar botón hamburguesa en móviles */
    color: black;
    margin-right: 3.5rem;
  }

  .Menu-Horizontal {
    display: none; /* Ocultar menú horizontal por defecto */
    flex-direction: column; /* Mostrarlo en vertical al activarse */
    width: 100%;
    background-color: white;
    position: absolute;
    top: 5rem; /* Debajo del menú fijo */
    left: 0;
    padding: 0.5rem 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); /* SOMBRA*/
    transition: all 0.3s ease; /* TRANSICIÓN SUAVE */
    z-index: 999; 
  }

  .Menu-Horizontal.active {
    display: flex; /* Mostrar menú al activar la clase */
  }

  .Menu-Horizontal li {
    border-bottom: 1px solid #ccc; /* Líneas separadoras */
    padding: 1rem 1.2rem;       /* Más grande para fácil click */
    font-size: 1rem;
  }
  .Menu-Horizontal li:last-child {
    border-bottom: none;
  }
}




